// -----------------------------------------------------------------------------
// This file contains all @Font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: IRANSans;
  src: local("IRANSans"), url("../../fonts/IRANSansFaNum.eot"),
  url("../../fonts/IRANSansFaNum.woff2")  format('woff2'),
  url("../../fonts/IRANSansFaNum.woff")  format('woff'),
  url("../../fonts/IRANSansFaNum.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

