$base-url: 'Assets/';

$direction-base: rtl;


$zindex-sidebar: 1090;
$zindex-header: 1080;
$zindex-alert: 1085;

//backdrop
$backdrop-background-color: black;
$backdrop-transition: .3s ease;
$backdrop-opacity--open: 0.5;

//sidebar
$sidebar-width: 300px;
$sidebar-z-index: $zindex-sidebar;
$sidebar-background: white;
$sidebar-transition: $backdrop-transition;
$sidebar-box-background: white;
$sidebar-list-color: black;
$sidebar-list--after-background: black;
$sidebar-list--active: green;
$sidebar-icon-color: white;

//modal
$modal-background: white;
$modal-overlay-background: #0000009e;


//header
$header-height: 70px;
$header-bg-color: white;
$header-list-color: blue-ribbon;
$header-list--after-background: $blue-ribbon;
$header-list--active: $header-list--after-background;

//alert
$alert-z-index: $zindex-alert;
$alert-font-size: 1.4rem;
$alert-max-width: 200px;
$alert-color: black;
$alert-bg: black;
$alert-border-radius: $border-radius;
$alert-opacity: 0.9;
$alert-padding-y: $spacer * 0.25;
$alert-padding-x: $spacer * 0.5;
$alert-arrow: 0.8rem;
$alert-arrow-color: $alert-bg;
$alert-success: var(--bs-green);
$alert-error: var(--bs-red);
$alert-info: var(--bs-info);
$alert-warning: var(--bs-yellow);

//pagination
$pagination-padding-y: .7rem;
$pagination-padding-x: 1.3rem;
$pagination-color: $blue-ribbon;
$pagination-color-active: $blue-ribbon;
$pagination-bg: inherit;
$pagination-border-width: $border-width;
$pagination-border-color: rgba(155, 155, 155, 0.2);
$pagination-disabled-color: black;
$pagination-disabled-bg: #e1e1e1;
$pagination-disabled-border-color: $pagination-border-color;

